# Ignore log files and temp files
*.log
*.tmp

# Ignore the "node_modules" directory
root/

# Ignore a specific file
ex-scrna/adata_filt_ds_df.pkl
ex-scrna/df_norm_filt.pkl
ex-scrna/mm_gastru_small.h5ad